div {font-family: 'Playfair Display', serif;}

#SearchBar {
    width: 500px;
}

#left {
    padding-left: 110px;
}

#double-left {
    padding-left: 100px;
}

#right {
    padding-left: 100px;
}

#close {
    padding-left: 100px;
}

.button {
    width: 100%;
    height: 100%;
}