<div class="container-fluid">
    <button id="closebutton">a</button>
    <button id="minimizebutton">a</button>
    <button id="maximizebutton">a</button>
    <!-- User Info -->
    <div class="row">
        <div class="col col-md-4">
            <img id="profile-picture" src="./assets\Air Nation Symbol.jpg">
        </div>
        <div class="col col-md-8">
            <h6>George Dominise</h6>
            <p>name@email.com</p>
        </div>
    </div>
    <!-- Options -->
    <div class="row justify-content-center">
        <button [appMessageHighlight] = "highlightcolor" class="newEmail">New Message</button>
    </div>

    <div>
        <p id="inbox" class="fa fa-chevron-down">Inbox (2)</p>
    </div>
    <div>
        <p id="drafts" class="fa fa-chevron-right">Drafts</p>
    </div>
    <div>
        <p id="sent" class="fa fa-chevron-right">Sent</p>
    </div>
    <div>
        <p id="spam" class="fa fa-flag">Spam</p>
    </div>
    <div>
        <p id="trash" class="fa fa-times">Trash</p>
    </div>
</div>