#profile-picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color:grey;
}

.newEmail {
    background-color:blue;
    color: whitesmoke;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 50%;
}

#closebutton {
    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 0px;
    display: inline-block;
    padding: 1px;
}
#minimizebutton {
    background-color:yellow;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 0px;
    display: inline-block;
    padding: 1px;
}

#maximizebutton {
    background-color: green;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 0px;
    display: inline-block;
    padding: 1px;
}

#inbox {
    padding-top: 20px;
}

#drafts {
    padding-top: 20px;
}

#sent {
    padding-top: 20px;
}

#spam {
    padding-top: 20px;
}

#trash {
    padding-top: 20px;
}